* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
}

.logo {
    height: 50px;
    width: 50px; /* Ajuste o tamanho conforme necessário */
    background-image: url('https://t3.ftcdn.net/jpg/02/76/56/08/360_F_276560883_lqejdalZAZcXDfCAFDFUnTe9ktOXSRD4.jpg');
    background-size: cover; /* Garante que a imagem cubra todo o contêiner */
    background-position: center; /* Centraliza a imagem */
}

.menu-container {
    position: relative;
}

.menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007BFF;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-bottom: 1px solid #0056b3;
}

nav ul li a:hover {
    background-color: #0056b3;
}

nav ul.show {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: flex;
    background-color: #007BFF;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

/* CSS CONTATO */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0056b3;
}
/********** FIM CSS CONTATO /***********/

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
    }

    nav ul li {
        margin-right: 20px;
        margin-bottom: 0;
    }

    nav ul li a {
        padding: 10px 15px;
        background-color: transparent;
        border-bottom: none;
    }

    nav ul li a:hover {
        background-color: #0056b3;
        border-radius: 5px;
    }

    .dropdown-content {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: #007BFF;
        border-radius: 5px;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }
}