body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #001a35;
    position: relative; /* Adicione isso para ajudar com o posicionamento do dropdown */
}

.logo {
    height: 50px;
    width: 50px; /* Ajuste o tamanho conforme necessário */
    background-image: url('https://t3.ftcdn.net/jpg/02/76/56/08/360_F_276560883_lqejdalZAZcXDfCAFDFUnTe9ktOXSRD4.jpg');
    background-size: cover; /* Garante que a imagem cubra todo o contêiner */
    background-position: center; /* Centraliza a imagem */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li:hover {
    background-color: #555;
}

/********* CSS CONTATO *********/
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 225, 225, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
    position: center;
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #001a35;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #001986;
}

main {
    padding: 20px;
    text-align: center;
}

/********** FIM CSS CONTATO ***********/

/********** Menu dropdown projetos ***********/
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
}

.dropdown-content li a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

